* {
  font-family: 'Bubblegum Sans', cursive;
  background-color: #ffc400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 5rem;
}

.user-input {
  background-color: white;
  padding: 1rem 5rem 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: left;
}

.item {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.add-item {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.delete-item {
  background-color: white;
  border-radius: 10px;
  margin-left: 0.5rem;
}


.done {
  text-decoration: line-through;
}